
@{
    ViewBag.Title = "Index";
}

<h2>Profile Alumno</h2>

<div class="container">

    @{
        if (!string.IsNullOrEmpty(ViewBag.Message))
        {

            <div class="alert alert-warning">
                <h3>@ViewBag.Message</h3>

            </div>

        }
    }


    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th> Id-Materia</th>
                    <th> Nombre </th>
                    <th> Horario</th>
                    <th> Profesor </th>
                    <th></th>
                    <th></th>

                </tr>
                @foreach (var oElemento in Model) // razor
                {
                    <tr>
                        <td> @oElemento.Id_Course </td>
                        <td> @oElemento.Name_Course </td>
                        <td> @oElemento.Time_Course </td>
                        <td> @oElemento.Id_Teacher </td>


                        <td>

                            <a class="btn btn-default" href="~/Profile/Detalle/@oElemento.Id_Course"> Ver Detalle</a>

                        </td>
                        <td>

                            <a class="btn btn-default" href="~/Profile/Inscripcion/@oElemento.Id_Course"> Inscribirse</a>

                        </td>


                    </tr>

                }


            </table>


        </div>
    </div>

    </div>
